.top-container{
    background-color: #9BABB8;
    height: ;
    text-align: center;
    padding-top: 80px;
    
}

body{
    margin: 0%;
}
h1{
    padding-top: 50px;
    font-family: 'Gloock', serif;
    font-size: 4rem ;
    color: whitesmoke;
}
h2,h3{
    font-family: 'Freckle Face', cursive;
    color: whitesmoke;
    font-size: 3rem;
    font-weight: lighter;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
.pro{
    text-decoration: underline;
}
.right-cloud{
    position: absolute;
    right: 300px;
}
.left-cloud{
    position: absolute;
    left: 200px;
}
/*Middle Section*/
.middle-container{
    padding: 100px 0;
    text-align: center;
    background-color: #D7C0AE;
}
p{
    font-family: 'roboto', sans-serif;
    line-height: 2;
}
.profile{
    margin: auto;
    width: 30%;
    
}
hr{
    border-style: dotted none none none;
    border-width: 10px;
    width: 10%;
    margin: 50px auto;
}
.skill-row{
    margin: 80px auto;
    text-align: left;
    width: 50%;

}
.sing-img{
    float: left;
    width: 30%;
    margin-right: 50px;
}
.drive-img{
    float: right;
    width: 25%;
    margin-left: 50px;
}
iframe{
    border-radius: 20px;
}
.interest-row{
    margin: auto;
    text-align: center;
    width: 70%;
}
.contact-message{
    margin: auto auto 50px auto;
    width: 25%;
}
.btn {
    background: #5A5A5A;
    background-image: -webkit-linear-gradient(top, #5A5A5A, #555555);
    background-image: -moz-linear-gradient(top, #5A5A5A, #555555);
    background-image: -ms-linear-gradient(top, #5A5A5A, #555555);
    background-image: -o-linear-gradient(top, #5A5A5A, #555555);
    background-image: -webkit-gradient(to bottom, #5A5A5A, #555555);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #555555 0;
    background: #555555;
    background-image: -webkit-linear-gradient(top, #555555, #9B9598);
    background-image: -moz-linear-gradient(top, #555555, #9B9598);
    background-image: -ms-linear-gradient(top, #555555, #9B9598);
    background-image: -o-linear-gradient(top, #555555, #9B9598);
    background-image: -webkit-gradient(to bottom, #555555, #9B9598);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 /*Bottom Section*/
 .bottom-container{
    text-align: center;
    background-color: #EEE3CB;
    height: auto;
    padding: 50px;
}
.footer-link{
    font-family: 'roboto', sans-serif;
    margin: 0 30px;
    color: #555555;
    text-decoration: none;
}
.footer-link:hover{
    color: #000000;
}
.credit{
    margin-top: 50px;
    color: #000000;
}